.btn {
    width: 100%;

    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */

    display: flex;
    align-items: center;
    text-align: center;

    padding: 1rem;
    gap: 1rem;

    background: #167BF7;
    border: none;
    border-radius: 8px;

    color: var(--branco-principal);

    cursor: pointer;
}

.btn--alternativo {
    background: none;

    border: 1px solid var(--branco-principal);
}