.descricao {
    display: grid;
    grid-template-columns: 50% 50%;

    align-items: center;
    
    padding: 5rem;
}

.descricao__conteudo {
    justify-content: center;
    text-align: left;
}

.descricao__imagem {
    width: 80%;
}
