.rodape {
    width: 85vw;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 1.7em;
    padding: 1rem;
    margin: 0 auto;
}

.rodape__imagem {
    width: 102px;
    height: 35.28px;

    margin: 2rem 0;
}

.rodape__lista {
    display: flex;

    margin-top: 2.3rem;
    margin-bottom: 2.3rem;

    gap: .75rem;

    cursor: pointer;
}

.rodape__lista--item {
    list-style: none;
}

.lista--style {
    text-decoration: none;

    color: var(--branco-principal);
    opacity: none;
}

.lista--style:hover {
    color: var(--botao-azul);
}

.rodape--texto {
    font-size: .875rem;

    color: var(--cinza-secundario);
}
