.btn {
    width: 100%;

    font-size: 1rem;
    line-height: 150%;
    text-decoration: none;
    text-align: center;

    padding: 1rem;
    gap: 1rem;

    background: #167BF7;
    border: none;
    border-radius: 8px;

    color: var(--branco-principal);


    cursor: pointer;
}

.btn--pequeno {
    width: 40%;
}

.btn--alternativo {
    background: none;

    border: 1px solid var(--branco-principal);
}